@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
}

html {
    font-size: 62.5% !important;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7.2rem;
    font-weight: 300;
    line-height: 0.97;
    text-transform: uppercase;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 1.0;
    text-transform: uppercase;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.0;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
    line-height: 1.66;
    opacity: 0.5;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

section {
    margin-bottom: 18.4rem;
}

.container {
    width: 100%;
    max-width: 115.8rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.btn {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--color-black);
    background: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 1.2rem 3.8rem;
    transition: all .15s;
}

.btn:hover {
    color: var(--color-white);
    background: var(--color-black);
}

/* ------------------ */
/* ----- HEADER ----- */
/* ------------------ */
header {
    background-color: rgba(0 0 0 / 40%);
    background-image: url('../images/desktop/image-hero.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 16rem;
    padding: 6.4rem 0 14.6rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12.4rem;
}

.logo {
    position: relative;
    z-index: 100;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    list-style: none;
}

.nav-item > a {
    position: relative;
    font-size: 1.5rem;
    color: var(--color-white);
}

.nav-item > a::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: var(--color-white);
    width: 0;
    height: 2px;
    transition: all .2s ease-out;
}

.nav-item > a:hover::before {
    width: 2.4rem;
}

.mobile-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16.4rem;
}

.mobile-nav input {
    display: none;
}

.mobile-nav input + .hamburger::after {
    content: "";
    position: relative;
    display: block;
    background-image: url('../images/icon-hamburger.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2.4rem;
    height: 1.6rem;
    z-index: 100;
}

.mobile-nav input:checked + .hamburger::after {
    background-image: url('../images/icon-close.svg');
    height: 2.4rem;
}

body:has(.mobile-nav input:checked) {
    overflow: hidden;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--color-black);
    z-index: 10;
    transition: all .4s ease-in;
}

.mobile-nav input:not(:checked) ~ .mobile-menu {
    left: 100%;
}

.mobile-nav input:checked ~ .mobile-menu {
    left: 0
}

.mobile-nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.4rem;
    height: 100%;
    padding: 2.4rem;
}

.mobile-nav-item a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.04;
    text-transform: uppercase;
    color: var(--color-white);
}

.hero-content {
    color: var(--color-white);
    max-width: 65rem;
    padding: 3.8rem;
    padding-top: 4.8rem;
    border: 2px solid var(--color-white);
}

/* ----------------- */
/* ----- ABOUT ----- */
/* ----------------- */
.about-inner {
    position: relative;
}

.about-img {
    width: 100%;
    max-width: 73rem;
    filter: saturate(120%) brightness(80%);
}

.about-content {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--color-white);
    width: 100%;
    max-width: 54rem;
    padding: 9.6rem 0 0 9.6rem;
}

.about-content h2 {
    margin-bottom: 2.4rem;
}

/* --------------------- */
/* ----- CREATIONS ----- */
/* --------------------- */
.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
}

.creations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
}

.grid-item {
    position: relative;
    cursor: pointer;
    transition: all .2s;
}

.grid-item:hover {
    transform: translateY(-1rem);
}

.grid-item h3 {
    position: absolute;
    left: 4rem;
    bottom: 3.2rem;
    color: var(--color-white);
    transition: all .2s;
    z-index: 2;
}

.grid-item .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 71%;
    background: linear-gradient(to top, rgba(0 0 0 / 60%), rgba(0 0 0 / 0%));
    transition: all .2s;
}

.grid-item img {
    width: 100%;
    transition: all .2s;
}

.btn-mobile {
    display: none;
    width: fit-content;
    margin: 0 auto;
}

/* ------------------ */
/* ----- FOOTER ----- */
/* ------------------ */
footer {
    background: var(--color-black);
    padding: 4.4rem 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-left .logo {
    margin-bottom: 2.4rem;
}

.footer-right p {
    color: var(--color-white);
    opacity: 0.5;
}

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
}

.social a {
    position: relative;
}

.social a::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: var(--color-white);
    width: 0;
    height: 2px;
    transition: all .2s ease-out;
}

.social a:hover::before {
    width: 2.4rem;
}

/* ------------------------- */
/* ----- MEDIA QUERIES ----- */
/* ------------------------- */
@media (max-width: 999px) {
    .about-content {
        padding: 4.8rem 0 0 4.8rem;
    }
    .grid-item h3 {
        font-size: 2.4rem;
        left: 2rem;
        bottom: 2rem;
    }
}
@media (max-width: 799px) {
    h2 {
        font-size: 3.2rem;
    }
    section {
        margin-bottom: 9.6rem;
    }
    header {
        margin-bottom: 9.6rem;
    }
    .about-img {
        margin-bottom: 4.8rem;
    }
    .about-content {
        position: unset;
        text-align: center;
        margin: 0 auto;
        padding: 0 2.4rem;
    }
    .section-title {
        justify-content: center;
        margin-bottom: 4.8rem;
    }
    .section-title .btn {
        display: none;
    }
    .creations-grid {
        grid-template-columns: 1fr;
        grid-gap: 2.4rem;
        margin-bottom: 3.4rem;
    }
    .grid-item .overlay {
        height: 100%;
    }
    .btn-mobile {
        display: block;
    }
    footer {
        text-align: center;
        padding: 5.6rem 0;
    }
    .footer-inner {
        display: block;
    }
    .footer-left {
        margin-bottom: 4.8rem;
    }
    .footer-left .logo {
        margin: 0 auto 3.2rem;
    }
    .footer-left .nav-items {
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }
    .social {
        justify-content: center;
        margin-bottom: 1.6rem;
    }
}

@media (max-width: 698px) {
    h1 {
        font-size: 4rem;
    }
    header {
        background-image: url('../images/mobile/image-hero.jpg');
        padding: 4rem 0 22.7rem;
    }
    .nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
    .hero-content {
        padding: 2.2rem;
    }
}